body {
   background-color: white;
   padding-top: 60px;
 }

.navbar-default {
  background-color: #fafafb;
  border-top: 3px solid #337ab7;
}

.navbar-nav > .current {
  border-bottom: 2px solid #337ab7;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
